/**
** BANNER
**/

.banner {
    position: relative;
}

.banner .banner-pagi {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 2;
}

/* .banner.banner-sub .banner-bg img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top;
} */

.banner.banner-sub {
    position: relative;
    overflow: hidden;
}

.banner.banner-sub .content {
    font-family: 'Playfair Display';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    width: fit-content;
    position: absolute;
    top: 40%;
    right: 8%;
    transform: translateY( -50%);
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    color: #fbd00a;
    text-shadow: 2px 0 #dc3545, -2px 0 #dc3545, 0 2px #dc3545, 0 -2px #dc3545, 1px 1px #dc3545, -1px -1px #dc3545, 1px -1px #dc3545, -1px 1px #dc3545;
}

.banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.banner .banner-pagi .swiper-pagination {
    background-color: var(--grey-light-color);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 24px;
    position: relative;
    bottom: unset;
    top: unset;
    left: unset;
    right: unset;
}

.banner .swiper-btn-prev,
.banner .swiper-btn-next {
    background-color: var(--grey-light-color);
    z-index: 2;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.banner .swiper-btn-prev svg,
.banner .swiper-btn-next svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    color: var(--primary-color);
}

/**
* ABOUT
**/

.about {
    padding-block: 80px 100px;
    background-color: var(--bg-color-2);
    overflow: hidden;
    position: relative;
}

.about .shape-1 {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 100%;
}

.about .content {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 2;
}

.about .content img {
    margin-top: 12px;
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/**
* NEWS
**/

.news {
    padding-block: 60px;
    background-color: var(--bg-color-2);
    position: relative;
    overflow: hidden;
}

.news .shape-1 {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 100%;
}

.news .container {
    position: relative;
    z-index: 2;
}

.news .news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 56px 24px;
    padding-top: 24px;
}

.news .news-list .news-item .card {
    border: 0;
    background-color: transparent;
}

.news .news-list .card-img {
    width: 100%;
    height: 166px;
    overflow: hidden;
}

.news .news-list .news-item .card-img-top {
    border-radius: 4px;
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: .3s linear all;
}

.news .news-list .news-item .card:hover .card-img-top {
    transform: scale(1.04);
}

.news .news-list .card-body {
    padding: 0;
    padding-top: 20px;
}

.news .news-list .card-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--primary-color);
}

.news .news-list .card-sub .category {
    font-size: 13px;
    line-height: 1;
    font-weight: 600;
    color: var(--primary-color);
}

.news .news-list .card-sub .published-date {
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    color: var(--primary-color);
}

.news .news-list .card-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--primary-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 52px;
    transition: all 0.3s linear;
}

.news .news-list .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    /* color: #5d5d5d; */
    margin-top: 10px;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 75px;
}

.news .news-list .card-title:hover {
    color: var(--secondary-color);
}

.news .news-list .card-btn {
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 14px;
    line-height: 1;
    padding: 8px 28px 8px;
    border-radius: 18px;
    text-decoration: none;
    margin-top: 25px;
    display: block;
    width: fit-content;
    transition: all .3s linear;
}

.news .news-list .card-btn:hover {
    transform: scale(1.04);
}

.news .news-seemore {
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .news-seemore a {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.news .news-seemore a svg {
    transition: all 0.3s linear;
}

.news .news-seemore a:hover svg {
    transform: translateX(6px);
}

/**
* NEWS
**/

#news-detail .news {
    background-color: var(--bg-color);
    padding-top: 60px;
}

.detail {
    padding: 80px 0 0px;
    /* background-color: var(--bg-color-2); */
}

.detail .detail-container {
    padding-inline: 120px;
}

.detail .detail-header {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--primary-color);
}

.detail .detail-header .title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 12px 0;
}

.detail .detail-header .type {
    font-size: 22px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 24px;
}

.detail .detail-header .time {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: var(--primary-color);
}

.detail .detail-content {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--primary-color);
}

.detail .detail-content img {
    width: 100%;
    height: auto;
}

.detail .detail-content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.detail .detail-content em {
    margin-bottom: 6px !important;
}

/**
* MEMBER
**/

.member {
    padding-block: 120px;
}

.member-list {
    padding-top: 24px;
    overflow-x: hidden;
    padding-bottom: 42px;
    position: relative;
    padding-right: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 36px 24px;
}

.member-list .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.member-list .swiper-pagination {
    bottom: 0;
    top: unset;
}

.member-list .card {
    border: 0;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.member-list .card-img {
    width: 100%;
    height: 280px;
    background-color: #e2e0e1;
    border-radius: 0px;
    background-image: url('https://staticv2.vnptigate.vn/logo/trong-dong.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 250%;
    display: flex;
    justify-content: center;
}

.member-list .card-img img {
    width: 80%;
    height: 100%;
    object-fit: contain;
}

.member-list .card-body {
    padding: 6px 12px;
    /* padding-top: 12px; */
    position: absolute;
    right: -8px;
    left: 6px;
    bottom: 6px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.member-list .card-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--black-color);
    margin-bottom: 0;
}

.member-list .card-text {
    /* font-family: "Playfair Display", serif; */
    /* font-style: italic; */
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: var(--secondary-color);
}

.member-list .navigation-pagi {
    position: absolute;
    right: 12px;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 28px;
    z-index: 11;
}

.member-list .navigation-pagi svg {
    color: var(--primary-color);
    width: 28px;
    height: auto;
}

.member-detail {
    padding-block: 80px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-color-2);
}

.member-detail .shape-1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.member-detail .member-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    grid-template-columns: 30% 70%;
    gap: 48px;
    width: 80%;
    margin-inline: auto;
}

.member-detail .member-wrap .member-img {
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 350px;
    max-height: 400px;
}

.member-detail .member-wrap .member-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.member-detail .member-wrap .member-infor .name {
    font-size: 25px;
    line-height: 37px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.member-detail .member-wrap .member-infor .position {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #842028c9;
    margin-bottom: 6px;
}

.member-detail .member-wrap .member-infor ul {
    list-style: disc;
    list-style-position: inside;
}

.member-detail .member-wrap .member-infor ul li {
    margin-bottom: 4px;
    font-weight: 400;
}

.member-list .seemore {
    background-color: #e2e0e1;
    margin: 0;
    width: 100%;
    height: 280px;
    color: var(--primary-color);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.member.member-sub {
    padding-top: 0;
    padding-bottom: 60px;
}

.member-button {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.member-button a {
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: var(--primary-color);
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    width: fit-content;
    padding: 6px 18px;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    transition: .3s linear all;
}

.member-button a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/**
* DESTINATION
**/

.destination {
    padding-block: 120px;
}

.destination .destination-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

.destination .destination-list .card {
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.destination .destination-list .card:hover .card-body {
    transform: translateY(0%);
}

.destination .destination-list .card-img {
    height: 280px;
    width: 100%;
}

.destination .destination-list .card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}

.destination .destination-list .card-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(54, 81, 64, 0.9);
    transform: translateY(81%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s linear;
}

.destination .destination-list .card-title {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 12px;
}

.destination .destination-list .card-text {
    color: var(--white-color);
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    line-clamp: 6;
    -webkit-box-orient: vertical;
}

.destination .destination-heading {
    padding: 0px 24px 24px 0;
}

.destination .destination-heading .title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--primary-color);
    text-align: left;
}

.destination .destination-heading .title::before {
    left: 0;
    transform: unset;
}

.destination .destination-heading .desc {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.destination.destination-all {
    padding-block: 60px;
    padding-top: 0;
}

.destination .card-button {
    flex: 1;
    display: flex;
    gap: 12px;
    align-items: self-end;
}

.destination .card-button button,
.destination .card-button a {
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #fff;
    width: fit-content;
    padding: 3px 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s linear all;
}

.destination .card-button button:hover,
.destination .card-button a:hover {
    background-color: var(--white-color);
    color: #365140;
}

/**
* FOOD
**/

.food {
    background-color: var(--bg-color-2);
    padding-block: 120px;
    position: relative;
    overflow: hidden;
}

.food .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.food .food-list {
    position: relative;
    padding-top: 24px;
}

.food .food-list .swiper-wrapper {
    padding-bottom: 24px;
}

.food .food-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
}

.food .food-item .food-img {
    width: 100%;
    display: flex;
    justify-content: end;
}

.food .food-item .food-img img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.food .food-item .food-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food .food-item .name {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.food .food-item .category {
    font-size: 10px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 6px;
    letter-spacing: 0.5px;
}

.food .food-item .category::after,
.food .food-item .category::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--primary-color);
}

.food .food-item .category::before {
    width: 10px;
}

.food .food-item .desc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    max-width: 450px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.food .swiper-pagination {
    bottom: unset;
}

.food .food-item.swiper-slide {
    scale: 0.9;
    opacity: 0.6;
    transition: all 0.3s linear;
}

.food .food-item.swiper-slide-active {
    opacity: 1;
    scale: 1.15;
}

.food .card-button {
    margin-top: 12px;
    display: flex;
    align-content: center;
    gap: 12px;
}

.food .card-button button,
.food .card-button a {
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: var(--primary-color);
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    width: fit-content;
    padding: 3px 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s linear all;
}

.food .card-button button:hover,
.food .card-button a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/**
* MAP
**/

#map {
    height: 600px;
}

.map {
    padding-block: 120px;
}

.map .map-wrap {
    position: relative;
}

.map .card-img-top {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.map .leaflet-popup-content {
    width: 220px !important;
    margin: 12px;
}

.map .card-body {
    padding: 12px;
}

.map .leaflet-container a.leaflet-popup-close-button {
    background-color: var(--white-color);
}

#location-list {
    position: absolute;
    left: 12px;
    top: 100px;
    bottom: 12px;
    z-index: 1001;
    background-color: var(--white-color);
    padding: 12px 18px;
    border-radius: 4px;
    overflow-y: auto;
}

#location-list::-webkit-scrollbar {
    width: 5px;
}

#location-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#location-list::-webkit-scrollbar-thumb {
    background: #888;
}

#location-list li {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
    transition: all 0.3s linear;
}

#location-list li:hover,
#location-list li.active {
    color: var(--primary-color);
}

.map .leaflet-touch .leaflet-control-attribution {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.map .leaflet-touch .leaflet-control-attribution a,
.map .leaflet-touch .leaflet-control-attribution span {
    display: none;
}

/**
* SEARCH
**/

.search {
    padding-block: 120px;
    background-color: var(--bg-color-2);
    position: relative;
}

.search .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-container {
    padding-block: 60px;
    background-color: var(--white-color);
    /* box-shadow: 0px 30px 40px #00405315; */
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    z-index: 2;
    background-color: var(--bg-color);
}

header .search-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-block: 24px;
    background-color: var(--bg-color-2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

header .search-input #results li {
    background-color: var(--bg-color);
}

header .search-container.active {
    opacity: 1;
    visibility: visible;
}

header .search-button {
    width: 80%;
    margin-inline: auto;
    padding-top: 12px;
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    position: relative;
    width: 80%;
}

.search-input input {
    width: 100%;
    height: 42px;
    margin-inline: auto;
    outline: none;
    padding-inline: 24px;
    border-radius: 24px;
    border: 1px solid #5d5d5d;
    color: #5d5d5d;
    font-size: 14px;
    line-height: 1;
    background-color: var(--bg-color);
}

.search-input #results {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    border-radius: 8px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--white-color);
    box-shadow: 0px 30px 40px #00405315;
    display: none;
}

.search-input #results.active {
    display: block;
}

.search-input #results li:not(:last-child) {
    margin-bottom: 2px;
}

.search-input #results li {
    padding: 8px 24px;
    background-color: var(--white-color);
    background-color: var(--bg-color-2);
    cursor: pointer;
}

.search-input #results li a {
    font-size: 14px;
    color: var(--text-color);
    transition: all 0.3s linear;
}

.search-input #results li a:hover {
    color: var(--primary-color);
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
}

.search-button .text {
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: var(--primary-color);
}

.search-button {
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    gap: 36px;
}

.search-button .group-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    flex: 1;
}

.search-button .group-btn a {
    display: inline-block;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 8px 36px;
    font-size: 14px;
    line-height: 1;
    border-radius: 24px;
    text-align: center;
}

.search-sub {
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: unset;
    padding-block: 0;
}

/**
* HIGHLIGHT
**/

.highlight {
    padding: 80px 0 0px;
    background-color: var(--bg-color-2);
    position: relative;
    overflow: hidden;
}

.highlight .shape-1 {
    position: absolute;
    bottom: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.highlight .highlight-desc {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.highlight .highlight-list {
    padding-top: 80px;
}

.highlight .highlight-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--bg-color);
    position: relative;
}

.highlight .highlight-item:nth-child(odd) .highlight-infor {
    padding-left: 65px;
}


.highlight .highlight-item:nth-child(even)> :nth-child(1) {
    order: 2;
}

.highlight .highlight-item:nth-child(even)> :nth-child(2) {
    order: 1;
    margin-left: auto;
}

.highlight .highlight-item:nth-child(even) .highlight-infor {
    padding-right: 65px;
}

.highlight .highlight-item .title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    color: var(--primary-color);
}

.highlight .highlight-item .desc {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.highlight .highlight-item .highlight-img {
    width: 100%;
    min-height: 450px;
}

.highlight .highlight-item .highlight-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight .highlight-item .highlight-infor {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    padding: 60px 0;
}

/**
* RESULT
**/

.result {
    padding-block: 80px;
    background-color: var(--bg-color-2);
    position: relative;
    overflow: hidden;
}

.result .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.result .container {
    position: relative;
    z-index: 2;
}

.result .section-title {
    max-width: 750px;
    margin-inline: auto;
}

.result table {
    margin-top: 36px;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--bg-color-2);
}

/**
* PROJECT
**/

.project {
    padding: 80px 0 80px;
    background-color: var(--bg-color-2);
    position: relative;
    overflow: hidden;
}

.project .shape-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.project .container {
    position: relative;
    z-index: 2;
}

.project .project-title {
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

/* 
.project .project-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin-top: 8px;
    background-color: var(--primary-color);
} */

.project .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 60px;
}

.project .project-item .card {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.project .project-item .card-body {
    position: absolute;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 100px 24px 24px 24px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.project .project-item .card-title {
    color: var(--white-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    letter-spacing: -0.2px;
    display: block;
    /* min-height: 48px; */
    transition: all 0.3s linear;
}

.project .project-item .card-title:hover {
    text-decoration: underline;
}

.project .project-item .card-img img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.project .project-desc * {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.project .project-content {
    padding-left: 24px;
}

.project .project-desc ul {
    list-style: disc;
    padding-left: 32px;
}

.project .project-desc li {
    margin-bottom: 8px;
}

.project .member-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 36px 24px;
}

@media screen and (max-width: 1300px) {
    .banner .swiper-slide img {
        height: 45vh;
    }
}

/**
* 1200
**/

@media screen and (max-width: 1200px) {

    .banner {
        position: relative;
    }

    .banner .swiper-slide img {
        height: 40vh;
        object-position: right;
    }

    .about {
        padding-block: 80px;
    }

    /**
    *NEWS
    **/
    .news .news-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .news .news-list .card-img {
        height: 220px;
        width: 360px;
    }

    .news .news-list .news-item .card {
        flex-direction: row;
        gap: 24px;
    }

    .news .news-list .card-body {
        flex: 1;
        padding-top: 0;
    }

    .news .news-list .card-title,
    .news .news-list .card-text {
        min-height: unset;
    }

    .detail .detail-container {
        padding-inline: 0;
    }

    #news-detail .news {
        padding-top: 60px;
    }

    /**
    * DESTINATION
    **/

    .destination .destination-heading .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .destination .destination-list {
        grid-template-columns: repeat(2, 1fr);
    }


    /**
    * HIGHLIGHT
    **/

    .highlight .highlight-item .highlight-infor {
        padding-inline: 42px;
    }

    /**
    * PROJECT
    **/

    .project .member-list {
        grid-template-columns: repeat(4, 1fr);
    }

    /**
    * MEMBER
    **/

    .member-detail .member-wrap {
        width: 100%;
    }

    .member-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/**
* 991px
**/

@media screen and (max-width: 991px) {
    /**
    * BANNER
    **/

    .banner .swiper-slide img {
        height: 30vh;
    }

    .banner.banner-sub .swiper-slide img {
        height: 35vh;
        object-position: right;
    }

    /* .banner.banner-sub .banner-bg img {
        height: 25vh;
    } */

    .banner.banner-sub .content {
        font-size: 28px;
        line-height: 32px;
        right: 8%;
    }

    /**
    * MEMBER
    **/

    .member {
        padding-block: 80px;
    }

    .project .member-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .member-detail .member-wrap .member-img {
        max-width: 200px;
        max-height: 240px;
    }

    /**
    * NEWS
    **/

    .news .news-list .card-img {
        height: 190px;
        width: 280px;
    }

    .news .news-list .card-btn {
        margin-top: 12px;
    }

    /**
    * FOOD
    **/

    .food {
        padding-block: 80px;
    }

    .food .food-item {
        gap: 24px;
        padding-inline: 24px;
    }

    .food .food-item.swiper-slide-active {
        scale: 1;
    }

    .food .food-item .food-img img {
        width: 100%;
        height: auto;
    }

    /**
    * SEARCH
    **/

    .search-button {
        align-items: unset;
    }

    .search-button .group-btn {
        grid-template-columns: repeat(2, 1fr)
    }

    /**
    * HIGHLIGHT
    **/

    .highlight .highlight-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .highlight .highlight-item .highlight-infor {
        max-width: 100%;
        text-align: center;
    }

    .highlight .highlight-item:nth-child(even)> :nth-child(1) {
        order: 1;
    }

    .highlight .highlight-item:nth-child(even)> :nth-child(2) {
        order: 2;
    }

    .highlight .highlight-item .highlight-infor {
        padding-left: 40px;
        padding-right: 40px;
    }

    .highlight .highlight-item:nth-child(odd) .highlight-infor {
        padding-left: 40px;
    }

    .highlight .highlight-item .desc {
        font-size: 16px;
    }
}

/**
* 576
**/

@media screen and (max-width: 576px) {

    /**
    * BANNER
    **/

    .banner.banner-sub .swiper-slide img {
        height: 20vh;
        object-position: right;
    }

    /* .banner.banner-sub .banner-bg img {
        height: 20vh;
    } */

    .banner.banner-sub .content {
        font-size: 18px;
        line-height: 18px;
        right: 4%;
    }

    /**
    * ABOUT
    **/

    .about {
        padding-block: 60px;
    }

    /**
    * MEMBER
    **/

    .member {
        padding-block: 60px;
    }

    .member-detail {
        padding-block: 80px;
    }

    .member-list .card-img,
    .member-list .seemore {
        height: 380px;
    }

    .member-list .card-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 2px;
    }

    .member-list .card-text {
        font-size: 16px;
        line-height: 24px;
    }

    .member-detail .member-wrap .member-img {
        max-width: 130px;
        max-height: 180px;
    }

    .member-detail .member-wrap {
        gap: 12px;
    }

    .member-detail .member-wrap .member-infor .name {
        font-size: 16px;
        line-height: 24px;
    }

    .member-detail .member-wrap .member-infor .position {
        font-size: 14px;
        line-height: 22px;
    }

    .member-detail .member-wrap .member-infor ul {
        font-size: 12px;
        line-height: 18px;
    }

    .member-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-container.search-sub {
        margin-top: 40px;
        margin-bottom: 24px;
        box-shadow: unset;
        padding-block: 0;
        padding-inline: 0;
    }

    .project .member-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .member-button {
        flex-direction: column;
        gap: 12px;
        margin-top: 12px;
    }

    .member-button a {
        width: 100%;
    }

    /**
    *NEWS
    **/

    .news .news-list .news-item .card {
        flex-direction: column;
        gap: 24px;
    }

    .news .news-list .card-img {
        height: 200px;
        width: 100%;
    }

    #news-detail .news {
        padding-top: 0px;
    }

    .detail .detail-header .title {
        font-size: 24px;
        line-height: 34px;
        margin-block: 6px;
    }

    .detail .detail-header .time {
        font-size: 14px;
    }

    .detail .detail-header {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .detail .detail-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .detail {
        padding-block: 60px;
    }

    .detail .detail-header .type {
        font-size: 18px;
    }

    /**
    * DESTINATION
    **/

    .destination .destination-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .destination {
        padding-block: 60px;
    }

    .destination .destination-heading .title {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
    }

    .destination .destination-heading .title::before {
        left: 50%;
        transform: translateX(-50%);
    }

    .destination .destination-heading .desc {
        text-align: center;
    }

    /**
    * FOOD
    **/

    .food .food-item {
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 0;
    }

    .food .card-button {
        margin-top: 24px;
    }

    /**
    * MAP
    **/

    .map {
        padding-block: 60px;
    }

    #map {
        height: 550px;
    }

    #location-list {
        position: relative;
        top: unset;
        left: unset;
        bottom: unset;
        margin-top: 12px;
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6px;
        max-height: 200px;
    }

    /**
    * SEARCH
    **/

    .search {
        padding-block: 60px;
    }

    .search-button .group-btn {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-button {
        flex-direction: column;
        gap: 12px;
    }

    .search-input,
    .search-button {
        width: 100%;
    }

    header .search-button {
        width: 100%;
    }

    .search-container {
        padding-inline: 12px;
        padding-block: 36px;
    }

    /**
    * PROJECT
    **/

    .project .project-content {
        padding-left: 0px;
    }

    .highlight .highlight-item .highlight-img {
        min-height: 220px;
    }

    .highlight .highlight-item .highlight-infor,
    .highlight .highlight-item:nth-child(odd) .highlight-infor,
    .highlight .highlight-item:nth-child(even) .highlight-infor {
        padding: 24px;
        gap: 12px;
    }

    .highlight .highlight-item .title {
        font-size: 24px;
        line-height: 34px;
    }

    .highlight .highlight-item .desc {
        font-size: 14px;
    }

    .project,
    .highlight,
    .result {
        padding: 60px 0 60px;
    }
}