@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-Medium.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-Bold.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-Light.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-SemiBold.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-Thin.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('../fonts/BeVietnamPro-Regular.woff2') format('woff2'),
        url('../fonts/BeVietnamPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../fonts/Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --hover-color: #4db2ec;
    --white-color: #ffffff;
    --black-color: #222222;
    --red-color: #B71C1C;
    --yellow-color: #FFD700;
    --grey-light-color: #F5F5F5;
    --green-color: #2E7D32;
    /* --primary-color: #B71C1C; */
    --primary-color: #842029;
    --secondary-color: #842029;
    --text-color: #3a3a3a;
    --bg-color: #fcfbf7;
    --bg-color-2: #ebe6e0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h3,
h2,
h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
}

.section-title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    color: var(--primary-color);
    position: relative;
    padding-bottom: 12px;
}

.section-title::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-desc {
    max-width: 650px;
    margin-inline: auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.section {
    padding-bottom: 12px;
}

.seemore {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 12px;
}

.seemore:hover {
    color: var(--primary-color);
}

.seemore svg {
    transition: all 0.3s linear;
}

.seemore:hover svg {
    transform: translateX(6px);
}

/**
* SWIPER
**/

.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.pagination {
    gap: 24px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 40px;
    padding-block: 20px;
}

.pagination .pagination-list {
    display: flex;
    align-items: center;
    gap: 18px;
}

.pagination .btn-next,
.pagination .btn-prev {
    border: 1px solid var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 0;
}

.pagination .btn-next svg,
.pagination .btn-prev svg {
    flex: 1;
    width: 16px;
    height: 16px;
}

.pagination .number {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
    gap: 12px;
    display: inline-grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: 0.3s linear;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid transparent;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

.pagination .number.active,
.pagination .number:hover {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}

/**
* POPUP
**/

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    content: '';
    background: 0 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1004;
    opacity: 0;
    background-color: rgba(0, 0, 0, .1);
    visibility: hidden;
    transition: all .3s linear;
}

.blur.active {
    opacity: 1;
    visibility: visible;
}

.popup-infor {
    max-width: 70%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1004;
    background-color: #fff;
    overflow: hidden;
    border-radius: 20px;
    padding: 68px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}

.popup-infor.active {
    opacity: 1;
    visibility: visible;
}

.popup-infor .title {
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    line-height: 37px;
    margin: 0px 0 12px;
    text-align: center;
}

.popup-infor .desc {
    width: 90%;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #5d5d5d;
    display: block;
    text-align: center;
    margin: auto;
    max-height: 250px;
    overflow-y: auto;
}

.popup-infor .desc::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.popup-infor .desc::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.popup-infor .desc::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
.popup-infor .close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}